* {
	all: unset;
	font-size: 20px;
	font-family: "FiraCode Nerd Font Mono";
	color: white;
}

.centerbox {
	background-color: transparent;
}

.powermenu,
.archUpdates,
.workspace,
.mpris-previous,
.mpris,
.mpris-next,
.dateName,
.dateHour,
.dateDate,
.network,
.memory,
.cpu,
.battery-perfect,
.battery-good,
.battery-mid,
.battery-bad,
.white-right-arrow,
.systray {
	background-color: #1a1a1a;
}

.powermenu,
.archUpdates,
.dateDate,
.dateHour,
.dateName,
.network,
.memory,
.cpu,
.battery-perfect,
.battery-good,
.battery-mid,
.battery-bad {
	padding-left: 12px;
	padding-right: 12px;
}

.workspace:first-child {
	padding-left: 6px;
}

.workspace {
	margin: 0px;
	padding: 0px;
	padding-right: 6px;
}

.workspace-active {
	margin: 0px;
	padding: 0px;
	font-size: 35px;
}

.mpris-previous {
	padding-left: 12px;
}

.mpris {
	padding-right: 12px;
	padding-left: 6px;
}

.mpris-next {
	padding-right: 12px;
}

.memory {
	color: teal;
}

.cpu {
	color: #6c71c4;
}

.battery-perfect {
	color: green;
}

.battery-good {
	color: #859900;
}

.battery-mid {
	color: orange;
}

.battery-bad {
	color: red;
}

.systray {
	padding-left: 6px;
}

.systray>*>* {
	padding-right: 12px;
}

.systray menu {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	padding: 5px 0px;

	>menuitem {
		padding: 0px 5px;

		&:disabled label {
			color: gray;
		}

		&:hover {
			background-color: #0e4679;
		}
	}

	separator {
		background-color: #222222;
		padding-top: 1px;

		&:last-child {
			padding: unset;
		}
	}
}

.left-ending-arrow,
.right-ending-arrow {
	color: #1a1a1a;
	font-size: 35px;
	margin-top: -1px;
	margin-bottom: -1px;
}

.left-starting-arrow,
.right-starting-arrow {
	color: #1a1a1a;
	font-size: 35px;
}